@model AppUser
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/mybuttons.css">
<link rel="stylesheet" href="~/font-awesome/css/all.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

@{
    var activePage = ViewBag.pageName ?? ""; // Varsayılan olarak boş bir değer alır.
}

<script src="~/js/AdminScript.js"></script>
@{

    @if (Model?.Email == null || string.IsNullOrEmpty(Model.Email) || Model?.AppRoleId == 3)
    {

    }
    else
    {

        <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary ">
            <div class="container-fluid">
                @Html.ActionLink("ADMIN PANEL", "Index", "Home", null, new { @class = "navbar-brand" })
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item @(activePage == "editbooks" ? "active" : "")">
                            @Html.ActionLink("EditBooks", "EditBooks", "Edit", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item  @(activePage == "addbook" ? "active" : "")">
                            @Html.ActionLink("Add Book", "AddBook", "Edit", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item  @(activePage == "databaseProperties" ? "active" : "")">
                            @Html.ActionLink("Database Properties", "DatabaseProperties", "Edit", null, new { @class = "nav-link" })
                        </li>
                
                    </ul>
                   
                </div>
            </div>


            <i class="fa-solid fa-user fa-1x"></i>
            <div style="color:white; margin-right:5px;  margin-left:5px; white-space: nowrap;">
                @Model.FirstName
            </div>

            @if (Model.AppRoleId == 1)
            {

                @Html.ActionLink("Add User", "AddNewUser", "Home", null, new { @class = "nav-link left-button-style"})
            }
           
            @Html.ActionLink("Logout", "LogoutAdmin", "Home", null, new { @class = "nav-link left-button-style  " })
      
        </nav>
    }
}
<style>
    .left-button-style{
        margin-left:5px;
        background-color: #0000004d;
        color:white;
        white-space: nowrap;
        border-radius: 5px 5px 5px 5px;
    }

    .left-button-style:hover {
        color: white;

    }



</style>
<script src="~/js/navbar.js" asp-append-version="true"></script>
@* <script src="~/js/site.js"></script> *@