@{
    ViewData["Title"] = "Home Page";
}
@model BookListDto
<script src="~/js/searchbar_categoty_events.js"></script>
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/searchBox.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/booktable.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/pagination.css" asp-append-version="true" />


	<form asp-controller="Home" asp-action="SeachByPage" class="s_form" method="get" >
	<div id="cover">
		<div class="tb" >
            <div class="td">
				<input class="s_input" name="keyword" type="text" placeholder="Search"  value=@(Model == null ? "" : Model.keyword)>
	
            </div>
            <div class="td" id="s-cover">
                <button class="s_button" type="submit">
                    <div id="s-circle"></div>
                    <span></span>
                </button>
            </div>
			
        </div>
		<div class="category_area" id="category_dropdown_button">
			@* <label asp-for="currentPage">Kategori</label> *@
			<div class="dropdown">
				<input type="hidden" id="selectedCategory" name="selectedCategory" value=@(Model == null ? 0 : Model.currentSearchCategory) />
				<button type="button" onclick="mytoggleDropdown()" class="category_button form-control">Filter</button>
				<div id="dropdownContent" class="dropdown-content" style="display:inline-grid;">
					<div class="category-ref">
						<div class="category-div">
							<div class="category-text">
								Author:
							</div>
							<select asp-for="yazar"  class="category-input" asp-items="@(new SelectList(Model.AllAuthors, "Id", "AuthorName"))">
								<option value="0">All</option>
							</select>
						</div>
						<div name="yazar" value="" class="category-div">
							<div class="category-text">
								Publication Date:
							</div>
							<input name="tarih" value="@Model.tarih"  class="category-input" />
						</div>
						<div class="category-div">
							<div class="category-text">
								ISBN:
							</div>
							<input name="isbn" value="@(Model.isbn)" class="category-input" />
						</div>
						<div class="category-div">
							<div class="category-text">
								Language:
							</div>
							<select asp-for="language_id"  class="category-input" asp-items="@(new SelectList(Model.AllLanguages, "Id", "Language"))">
								<option value="0">All</option>
							</select>
						</div>
						<div class="category-div">
							<div class="category-text">
								Category:
							</div>
							<select asp-for="category_id" class="category-input" asp-items="@(new SelectList(Model.AllCategories, "Id", "CategoryName"))">
								<option value="0">All</option>
							</select>
						</div>
						
					</div>
					@* <select asp-for="AuthorId" asp-items="@(new SelectList(Model.AllAuthors, "Id", "AuthorName"))" class="form-control">
						<option value="">Seçiniz</option>
					</select> *@

					@* <a class="category-ref" href="#" onclick="selectCategory(0)">Hepsi</a>
					<a class="category-ref" href="#" onclick="selectCategory(1)">Tarih</a>
					<a class="category-ref" href="#" onclick="selectCategory(2)">ISBN</a>
					<a class="category-ref" href="#" onclick="selectCategory(3)">Yıl</a> *@
				</div>
			</div>


			@* 	   
			<label asp-for="AuthorId">Yazar</label>
			<select asp-for="AuthorId" asp-items="@(new SelectList(Model.AllAuthors, "Id", "AuthorName"))" class="form-control">
			<option value="">Seçiniz</option>
			</select>
			*@
		@* 	<div class="dropdown">
				<button class="category_button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown button
				</button>
				<div class="dropdown-menu category_dropdown_menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</div> *@
		@* 	<button class="category_button">dsad</button> *@
		</div>
	</div>
    </form>


@* <a href="#" class="aktarim btn btn-sm" data-toggle="tooltip" title="" data-original-title="Aktarım">
	<i class="fas fa-exchange-alt text-secondary"></i>
</a>
<a href="#" class="paylas btn btn-sm" data-toggle="tooltip" title="" data-original-title="Paylaş">
	<i class="fas fa-share-alt text-secondary"></i>
</a> *@
<div id="search_result_cover">

</div>
@{
    if(Model != null && Model.books != null)
    {

        <div class="table_cover">
            @foreach (var book in Model.books)
            {
				<h1></h1>
				<div class="table_item" data-recordid="113778" data-demirbas="0034332" data-eseradi="Şiirler / Cahit Zarifoğlu">
					@* card-header bg-white py-1 pr-2 *@
					<div class="table_item_header">
						<span class="float-left my-0 text-muted"><span class="small text-muted mr-2" title="0034332"><i class="fas fa-book"></i> @book.Category.CategoryName</span>  </span>
						<span class="float-right">
							@if (Model.Authanticated)
							{
								<a href="@Url.Action("AddMyFavoriteBooks", new { bookId = book.Id, keyword = Model.keyword, yazar=Model.yazar,tarih= Model.tarih, isbn=Model.isbn ,language_id=Model.language_id ,category_id=Model.category_id , currentPage = Model.totalPage})" class="favori btn btn-sm" data-toggle="tooltip" title="" data-original-title="Favori / Kargo">
									<i class="fas fa-star text-muted"></i>
								</a>
							}
							
						</span>
					</div>
					<div class="card-body">
						<div class="d-flex">
							<div class="gorsel liste mr-2">
								<a href="#" class="detayAc pencere d-block">
									<div class="flip-box">
										<div class="flip-box-inner">
											<div class="flip-box-front">
												<img src="~/bookcovers/@(book.BookCover.BookCoverPath).jpeg" class="img-fluid"/>
											</div>
									
										</div>
									</div>
								</a>

							</div>
							<div class="orta w-100 pl-2">
								<h2 class="text-primary mb-0"> <a href="#" class="detayAc pencere" data-toggle="tooltip" title="" data-original-title="Ayrıntı">@book.Title</a></h2>

								<div class="">Author: @book.Author.AuthorName</div>
								<div class="">Year: @book.PublicationDate</div>
								
								<div class="">ISBN: @book.ISBN</div>
								<div class=""></div>
							</div><!--orta-->
							<div class="qrKapsayan text-right d-flex">

								<div class="qr"><canvas width="60" height="60"></canvas></div>
							</div>
						</div><!--row-->
					</div><!--card-body-->
					<div class="aktarimKapsayan"></div>
					<!--orta
					class="card-footer py-1 bg-white"
					-->
					<div style="height:40px; padding-left:20px;padding-right:20px;">
						<div class="islem">
							<div class="kutuphane float-left text-muted small">
								<span><span>Kat</span> <b>@book.Floor </b></span>|
								<span><span>Bölüm</span> <b>Medeniyet Kütüphane </b></span>|
								<span><span>Sınıflama yer bilgisi</span> <b>@book.LocationInformation</b></span>
								<!--others
						
								<span><span>Bölüm</span> <b>Merkez Kütüphane</b></span>
								<span><span>Oda</span> <b>Okuma Salonu (Zemin Kat)</b></span>
								<span><span>Tür</span> <b>Kitap</b></span>
								<span><span>Alt Biçim</span> <b>Şiir</b></span>
								<span><span>Şekil</span> <b>Basılı</b></span>
								<span><span>Ortam</span> <b>Kağıt</b></span>
								<span><span>Sınıflama yer bilgisi</span> <b>PL 248 .Z37 Ş55</b></span>
								<span><span>Durum</span> <b><span class="text-success">Rafta</span></b></span>
								<span><span>Kopya</span> <b>k.1</b></span>
								-->
							</div>
							<!--others
							<div class="float-right satirIciKapat d-none"><button type="button" class="close"><span class="text-danger">✕</span> </button></div>
							<a href="#" class="detayAc satirIci float-right  small" data-toggle="tooltip" title="" data-original-title=""><i class="fas fa-arrow-down"></i> Ayrıntı</a>
							-->
							</div>
						<div class="satirIciKapsayan"></div>
					</div>
				</div>
            }
        </div>
		// <div class="">Path: @book.BookCover.BookCoverPath</div>
		<div class="pagination">
			@if (Model.totalPage > 1)
			{
				@if (Model.currentPage > 1)
				{
					<a href="@Url.Action("SeachByPage", new { keyword = Model.keyword, currentPage = 1 })">&laquo;</a>
				}

				@for (int i = 1; i <= Model.totalPage; i++)
				{
					if (i == Model.currentPage)
					{
						<a class="active" href="@Url.Action("SeachByPage", new { keyword = Model.keyword, yazar=Model.yazar,tarih= Model.tarih, isbn=Model.isbn ,language_id=Model.language_id ,category_id=Model.category_id , currentPage = i })">@i</a>
					}
					else
					{
						<a href="@Url.Action("SeachByPage", new { keyword = Model.keyword,  yazar=Model.yazar,tarih= Model.tarih, isbn=Model.isbn ,language_id=Model.language_id ,category_id=Model.category_id ,currentPage = i })">@i</a>
					}
				}

				@if (Model.currentPage < Model.totalPage)
				{
					<a href="@Url.Action("SeachByPage", new { keyword = Model.keyword, yazar=Model.yazar,tarih= Model.tarih, isbn=Model.isbn ,language_id=Model.language_id ,category_id=Model.category_id , currentPage = Model.totalPage })">&raquo;</a>
				}
			}
		</div>
	}
	else
	{
		<div style="height:180px;"></div>
	}

}




