@model AppUser


@if (Model?.Email == null || string.IsNullOrEmpty(Model.Email) || Model?.AppRoleId == 3)
{
    <section class="w-100 p-4 d-flex justify-content-center pb-4" style="margin-top:100px;">
        <form asp-controller="Home" asp-action="AdminLogin" style="width: 22rem;">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input name="email" type="email" id="form2Example1" class="form-control">
                <label class="form-label" for="form2Example1" style="margin-left: 0px;">Email address</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input name="password" type="password" id="form2Example2" class="form-control">
                <label class="form-label" for="form2Example2" style="margin-left: 0px;">Password</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input name="RememberMe" class="form-check-input" type="checkbox" value="" id="form2Example31" checked="">
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>

                <div class="col" style="margin-right:25px;">
                    <!-- Simple link -->
                    @*   <a href="#!">Forgot password?</a> *@
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

            <!-- Register buttons -->

        </form>
    </section>
}
else
{
    <div class="admin-page">
        @Html.ActionLink("Edit Books", "EditBooks", "Edit", null, new { @class = "nav-link admin-button" })
        @Html.ActionLink("Add Book", "AddBook", "Edit", null, new { @class = "nav-link admin-button" })
        @Html.ActionLink("Edit Properties", "DatabaseProperties", "Edit", null, new { @class = "nav-link admin-button" })

        @if (Model.AppRoleId == 1)
        {
            @Html.ActionLink("Add User", "AddNewUser", "Home", null, new { @class = "nav-link admin-button" })
        }
    </div>
  

}

<style>
    .admin-page{
        margin:auto;
        display:flex;
        justify-content:center;
        height:600px;
        align-items:center;
    }

    .admin-button{
        width:300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center; 
        text-align: center;
        background-color: white;
        border-radius: 25px;
        box-shadow: -5px -5px 15px 0 #eaeaea, 5px 5px 15px 0px #1d0dca4b;
        margin-bottom: 20px;
        margin-right:30px;
        font-size:25px;
        font-weight: lighter;

        color:gray;
        transition: all ease-in-out 0.2s;
    }

    .admin-button:hover{
            box-shadow: -10px -10px 35px 0 #eaeaea, 15px 15px 55px 0px #1d0dca4b;
            font-size: 30px;
            font-weight: normal;
            transition:all ease-in-out 0.2s;
    }

</style>


@* @model List<LibraryUser>  *@

@* @foreach (var user in Model)
{
    <h1>@user.Name</h1>
}
 *@